@charset "UTF-8";
.electron {
    display: none;
}

html {
    overflow: hidden;
}

a {
    color: inherit;
}

a:link, a:visited {
    text-decoration: none;
}

.CodeMirror {
    border: 1px solid black;
}

@font-face {
    font-family: 'Bitstream-Vera-Sans-Mono';
      src:  url('Bitstream-Vera-Sans-Mono.ttf.woff') format('woff'),
      url('Bitstream-Vera-Sans-Mono.ttf.svg#Bitstream-Vera-Sans-Mono') format('svg'),
      url('Bitstream-Vera-Sans-Mono.ttf.eot'),
      url('Bitstream-Vera-Sans-Mono.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
  }
  
.fill-width {
    width: 100%;
    box-sizing: border-box;
}

.vera {
font-family: 'Bitstream-Vera-Sans-Mono' !important;  
}

.CodeMirror-hints {
    z-index: 9999 !important;
}

.CodeMirror-Tern-tooltip {
    z-index: 9999 !important;
}

#mudslinger {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}

#mainWin {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height:100%;
    width:100%;
    flex: 1;
    min-height: 0;
}

#content-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  #column-left {
    flex-direction: column;
    display: flex;
    position: relative;
    width: auto;
    height: 100%;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #column-left-top {
    /*flex:1;*/
    display: flex;
    position: relative;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: column;
    background-color: rgb(21 106 167 / 77%);
  }
  #column-left-bottom {
    flex:1;
    display: flex; 
    position: relative;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: column-reverse;
    background-color: rgb(21 106 167 / 77%);
  }
  
  #column-right {
    flex-direction: column;
    display: flex;
    position: relative;
    width: auto;
    height: 100%;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #column-right-top {
    flex:1;
    display: flex;
    position: relative;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: column;
    background-color: rgb(21 106 167 / 77%);
  }
  #column-right-bottom {
    flex:1;
    display: flex;   
    position: relative;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: column-reverse;
    background-color: rgb(21 106 167 / 77%);
  }
  
  #row-bottom,#column-left,#row-top,#column-right {
    font-family: Consolas, monospace;
    font-size:12px;
  }

  #row-top-left {
    flex:1;
    display: flex;
    position: relative;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: row;
    align-items: center;
  }
  #row-top-right {
    /*flex:1; */
    display: flex;   
    position: relative;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: row-reverse;
    align-items: center;
  }
  #row-bottom-left {
    flex:1;
    display: flex;
    position: relative;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: row;
    align-items: center;
  }
  #row-bottom-right {
    /*flex:1; */
    display: flex;   
    position: relative;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: row-reverse;
    align-items: center;
  }

  #row-top-left>* {
    float: left;
    clear: none;
    margin: 2px;
  }

  #row-top-right>* {
    float: left;
    clear: none;
    margin: 2px;
  }

.jqx-window-pin-button {
    background-image: url(images/pin-white.png);
    cursor: pointer;
    margin-top: 3px;
}

.jqx-window-pin-button-pinned {
    background-image: url(images/pinned-black.png);
}

  .full {
      width:100%;
      height: 100%;
  }

  .scrollable {
      overflow: auto;
  }
  #row-bottom-left>* {
    float: left;
    clear: none;
    margin: 2px;
  }
  #row-bottom-right>* {
    float: left;
    clear: none;
    margin: 2px;
  }

  #column-right-top > * {
    float: left;
    clear: both;
    margin: 2px;
  }

  #column-left-top > * {
    float: left;
    clear: both;
    margin: 2px;
  }

  #column-right-bottom > * {
    float: left;
    clear: both;
    margin: 2px;
  }

  #column-left-bottom > * {
    float: left;
    clear: both;
    margin: 2px;
  }
  
  #column-center {
    flex-direction: row;
    display: flex;
    position: relative;
    height: 100%;
    flex: 1;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    grid-area: center;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    overflow: hidden;
  }

  #row-top-left {
    background-color: black;
  }
  #row-top-right {
    background-color: black;
  }

  #row-top {
    flex-direction: row;
    display: flex;
  }
  
  #row-center {
    overflow: auto;
  }

  #row-bottom-left {
    background-color: rgb(21 106 167 / 77%);
  }

  #row-bottom-right {
    background-color: rgb(21 106 167 / 77%);
  }

  #row-bottom {
    flex-direction: row;
    display: flex;
  }
  #row-input {
    background-color: rgb(21 106 167 / 77%);
  }

#cmdCont {
    min-height: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#winOutput {
    /*height:100%;*/
    margin:0;
    box-sizing: border-box;
    width: 100%;
}

.customWindow .outputText {
    box-sizing: border-box;
    padding: 5px !important;
}

.output-prewrap {
	white-space: pre !important;
}

.jqx-menu, .jqx-menu-popup {
    z-index: 9999 !important;
}

.jqx-menu-item label {
    width: 100% !important;
    position: relative !important;
    display: inline-block !important;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
}
.outputText {
    font-size: small;
    background-color:black;
    color:rgb(0,187,0); /* low green */
    white-space: pre-wrap;
    width:100%;
    /*height:100%;*/
    margin:0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 5px;
    position: relative;
    font-family: monospace;
    line-height: normal;
}

#profile-window input {
    vertical-align: middle;
}
#profile-window label {
    vertical-align: middle;
    margin: 2px;
}
#content-wrapper .jqx-window-header {
    padding: 2px !important;
}
#content-wrapper .jqx-widget-content {
    font-size: 10px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera*/ 
#row-center::-webkit-scrollbar {
  display: none;
}
#row-center:hover::-webkit-scrollbar {
    display: unset;
  }
  
/* Hide scrollbar for IE, Edge and Firefox  */
#row-center {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
#row-center:hover {
    -ms-overflow-style: auto; 
  scrollbar-width:unset; 
}

.smallest-text {
	font-size: xx-small !important;
}

.extra-small-text {
	font-size: x-small !important;
}

.small-text {
	font-size: small !important;
}

.normal-text {
	font-size: medium !important;
}

.large-text {
	font-size: large !important;
}

.extra-large-text {
	font-size: x-large !important;
}

.jqx-window ul {
    border: 1px solid transparent;
    box-shadow: 0px 0px 1px 0px rgb(21 106 167 / 77%), -1px -1px 1px 0px rgb(21 106 167 / 77%) inset;
    border-radius: 3px;
    padding: 3px;
    outline: none !important;
    transition: all 0.2s ease-in-out;
}

.jqx-window ul:hover {
    box-shadow: 0px 0px 2px 0px rgb(21 106 167 / 77%), -1px -1px 2px 0px rgb(21 106 167 / 77%) inset;
}

.jqx-window input[type=text] {
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 0px rgb(21 106 167 / 77%), 0px 0px 1px 0px rgb(21 106 167 / 77%) inset;
    border-radius: 3px;
    padding: 3px;
    outline: none !important;
    transition: all 0.2s ease-in-out;
}

.jqx-window input[type=password] {
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 0px rgb(21 106 167 / 77%), 0px 0px 1px 0px rgb(21 106 167 / 77%) inset;
    border-radius: 3px;
    padding: 3px;
    outline: none !important;
    transition: all 0.2s ease-in-out;
}

.jqx-window input[type=text]:hover {
    border: 1px solid rgb(21 106 167 / 77%);
}

.jqx-window input[type=text]:focus {
    border: 1px solid rgb(21 106 167 / 77%);
}

.jqx-window input[type=password]:hover {
    border: 1px solid rgb(21 106 167 / 77%);
}

.jqx-window input[type=password]:focus {
    border: 1px solid rgb(21 106 167 / 77%);
}

.customWindow .jqx-window-content {
    padding: 0px;
}

#cmdInput {
	margin: 0;
    padding: 0;
    background-color: #C7C7C7;
    border-color: #111111;
    border-radius: 3px;
    border-width: 1px;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
	display: block;
	min-height: 20px;
    max-height: 200px;
    flex: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    resize: none;
    font-size: medium;
    font-family: "Consolas", monospace;
    float: left;
}

.courier {
    font-family: "Courier", monospace !important;
}

.consolas {
    font-family: "Consolas", monospace !important;
}

.lucida {
    font-family: "Lucida Console", monospace !important;
}

.monospace {
    font-family: monospace !important;
}

.messageboxbuttons {
    padding-top: 5px;
    text-align: center;
}

.messageboxtext {
    padding:5px;
}

.acceptbutton {
    min-width: 100px;
}

.cancelbutton {
    min-width: 100px;
}

.jqx-window-modal {
    background-color: rgb(0,0,0);
    opacity: 0.5 !important;
}

.winEdit-filter, .winVar-filter, .winClass-filter, .winEvents-filter {
    flex: 1;
}

.winProfiles-modifica {
    float: left;
    margin-top: 10px !important;
}
.winProfiles-elimina {
    float: left;
    margin-top: 10px !important;
}

.winProfiles-crea {
    float: left;
    margin-top: 10px !important;
}

.winProfiles-connect {
    font-size: large !important;
    float: right;
    padding: 10px !important;
}

.greenbutton {
    color: white !important;
    background-color: rgb(108, 150, 25) !important;
    font-weight: normal !important;
}

.yellowbutton {
    color: black !important;
    background-color: #fced99 !important;
    font-weight: normal !important;
}

.redbutton {
    color: white !important;
    background-color: rgb(209, 77, 77) !important;
    font-weight: normal !important;
}

.bluebutton {
    font-weight: normal !important;
    color: #d6d6d6 !important;
    background-color: rgb(109, 118, 250) !important;
}

.bluebutton:disabled {
    color: #eae7e7 !important;
}
.inner-box {
    border: 1px solid transparent;
}
.select-box {
    cursor: pointer;
    position: relative;
    margin: 5px 0px 5px -5px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    border-right: 5px transparent;
  }
  
  .dropdown,
  .label {
    color: #414141;
    display: block;
    font: 400 16px sans-serif;
    cursor: pointer;
  }
  
  .dropdown {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 30px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: opacity(0);
    background: none transparent;
    border: 0 none;
    box-shadow: 2px 2px 2px 2px #414141;
  }

  .focused {
    border: 1px solid black;
  }

  .select-box1 {
    background: #ececec;
  }
  
  .label {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    height: 16px;
  }
  .open .profile-label::after {
     content: "▲";
  }
  .label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    border-left: 5px solid #fff;
  }


.chkCmdInputCmdStackCont {
    display: block;
    margin: 3px;
}
.chkCmdInputCmdStackCont .toolTipText {
    display: none;
    font-family: Tahoma, sans-serif;
    font-size: small;
    color: white;
    text-overflow: ellipsis;
    max-width: 100px;
    white-space: nowrap;
}

select[invalid] {
    color: gray; 
}

#menuBar {
	max-width: calc(100% - 150px) !important;
}

.chkCmdInputCmdStackCont:hover .toolTipText {
    display: inline-block;
}

.winEdit-pattern {
    width: 100%;
}

.winEdit-listBox {
    width: 100%;
    height: 100%;
}
.ui-control-content {
    white-space: nowrap;
    font-size: 11px;
    overflow: hidden;
}
input,textarea,button {
    outline:none;
}
input:focus,button:focus {
    outline: 1px solid gray;
    filter: drop-shadow(0 0 1px black);
}
#menuBar {
	background: black !important;
    color: #555555;
	border-color: transparent !important;
    font-weight: bold;
    height: auto !important;
    flex: none;
    max-width: calc(100% - 150px) !important;
}
.winEdit-textArea, .winEdit-scriptArea {
    width: 100%;
    height: 100%;
    overflow: auto;
    resize: none;
}
.winEdit-pattern, .winEdit-textArea, .winEdit-scriptArea, .winEdit-id, .winEdit-className {
    margin: 3px;
    box-sizing: border-box;
}

.winEdit-id {
    width: 100px;
}

.clickable {
    cursor: pointer;
}

.label-filter {
    margin-top: 3px;
}
.winEdit-filter {
    margin-bottom: 2px;
}
/*
.winEdit-btnNew {}
.winEdit-btnDelete {}
.winEdit-pattern {}
.winEdit-chkRegex {}
.winEdit-chkScript {}
.winEdit-btnSave {}
.winEdit-btnCancel {}
.winEdit-textArea {}
.winEdit-scriptArea{}
*/

#chkCmdStack {
    display: none;
}
#chkCmdAliases {
    display: none;
}
#chkCmdTriggers {
    display: none;
}
.checkerStack {
    background-image: url(images/stacking-icon.png);
}
.checkerTriggers {
    background-image: url(images/triggers_checkbox.png);
}
.checkerAliases {
    background-image: url(images/alias_checkbox.png);
}
.checker {
    transition: all 0.5s;
    display: block;
    cursor: pointer;
    opacity: 0.3;
    background-size: auto 100%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
  }
  
  #chkCmdStack:checked + .checker {
    opacity: 0.7;
  }
  #chkCmdTriggers:checked + .checker {
    opacity: 0.7;
  }
  #chkCmdAliases:checked + .checker {
    opacity: 0.7;
  }

.jqx-window {
    /*border: 1px solid #a8a8a869 !important;*/
    box-shadow: 0px 0px 5px 1px black;
}

.jqx-window-header {
    background-color: rgb(21 106 167 / 77%);
    color: white;
}

.jqx-window-collapse-button {
    background-color: #c5b3b3;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    margin: 2px !important;
}

.jqx-window-dock-button-background {
    margin-top: -2px !important;
    margin-right: 12px !important;
}

.jqx-window-collapse-button-background {
    margin-top: -2px !important;
    margin-right: 12px !important;
}

.jqx-window-settings-button-background {
    margin-top: -2px !important;
    margin-right: 12px !important;
    right: 36px;
}

#content-wrapper .jqx-window-settings-button-background {
     right: 0px !important;
     margin-top: -4px !important;
     margin-right: 6px !important;
}

.jqx-window-settings-button {
    background-image: url(images/settings.png);
    cursor: pointer;
    margin-top: 3px;
}

.jqx-window-collapse-button:hover {
    border: 1px solid rgba(255,255,255,0.5);
}

.jqx-window-close-button {
    background-color: #c5b3b3;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.jqx-window-close-button-background {
    margin-top: -2px !important;
}

.jqx-window-close-button:hover {
    border: 1px solid rgba(255,255,255,0.5);
}

.jqx-window-content button {
    position: static;
	font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    -webkit-transition: color 300ms ease, background-color 300ms ease, opacity 300ms ease;
    color: #403f3f;
    background-color: #b7b7b7;
    display: inline-block;
    z-index: 100;
    text-decoration: none;
    font-size: 0.8rem;
    font-size: 10px;
    line-height: 12px;
    padding: 5px 7px;
    margin: 4px 2px;
    border-radius: 3px;
    border: 1px solid #0a0a0a21;
    cursor: pointer;
    font-weight: bold;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease-in-out;
    /*transition: color 300ms ease, background-color 300ms ease, opacity 300ms ease;*/
}

#content-wrapper .bluebutton {
    font-weight: normal !important;
    color: #d6d6d6 !important;
    background-color: rgb(109, 118, 250) !important;
}

#content-wrapper .bluebutton:disabled {
    color: #eae7e7 !important;
    background-color: rgb(181, 186, 247) !important;
}

#content-wrapper .bluebutton:hover {
    background-image: linear-gradient( rgb(140, 147, 248) 0%,  rgb(72, 80, 194) 100%) !important;
}

#content-wrapper .greenbutton {
    font-weight: normal !important;
    color: #d6d6d6 !important;
    background-color: rgb(70, 177, 49) !important;
}

#content-wrapper .greenbutton:disabled {
    color: #eae7e7 !important;
    background-color:rgb(174, 240, 161)  !important;
}

#content-wrapper .greenbutton:hover {
    background-image: linear-gradient(rgb(148, 228, 133)  0%, rgb(48, 146, 28)  100%) !important;
}

#content-wrapper .redbutton {
    font-weight: normal !important;
    color: #d6d6d6 !important;
    background-color: rgb(189, 47, 47) !important;
}

#content-wrapper .redbutton:disabled {
    color: #eae7e7 !important;
    background-color:rgb(221, 145, 145)  !important;
}

#content-wrapper .redbutton:hover {
    background-image: linear-gradient(rgb(161, 103, 103)  0%, rgb(87, 25, 25)  100%) !important;
}

#content-wrapper .yellowbutton {
    font-weight: normal !important;
    color: #161616 !important;
    background-color: rgb(255, 238, 0) !important;
}

#content-wrapper .yellowbutton:disabled {
    color: #cfcfcf !important;
    background-color:rgb(249, 250, 186)  !important;
}

#content-wrapper .yellowbutton:hover {
    background-image: linear-gradient( rgb(255, 246, 116)  0%, rgb(128, 121, 28)  100%) !important;
}

#content-wrapper .toggled {
    background-color: rgb(60, 60, 60, 0.5) !important;
    text-decoration: underline;
    color: rgb(238, 255, 0) !important;
    box-shadow: 0px 0px 2px 2px rgba(127, 127, 127, 0.4), 
                0px 0px 2px 2px rgba(127, 127, 127, 0.4);
}

.jqx-window-content button:hover {
  /*background-image: linear-gradient(#b7b7b7 0%, #999999 100%) !important;*/
  /*color: black;*/
  font-weight: bolder;
  transform: translate3d(-1px, -1px, 0) scale(1.05);
    box-shadow: -5px -5px 5px 2px rgba(255, 255, 255, 0.2) inset, 
                5px 5px 5px 2px rgba(255, 255, 255, 0.2) inset;
}
.jqx-window-content button:disabled {
    background-image: linear-gradient(#dad7d7 0%, #cec7c7 100%) !important;
    color: #eae7e7;
}
.rightMenu {
    padding: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
}
#content-wrapper button {
    position: static;
	font-family: Consolas, monospace;
    -webkit-transition: color 300ms ease, background-color 300ms ease, opacity 300ms ease;
    color: #959595;
    background-color: rgb(97,97,117);
    display: inline-block;
    z-index: 100;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 7px;
    border-radius: 2px;
    border: 1px solid #0a0a0a21;
    cursor: pointer;
    font-weight: normal;
    /*transform: translate3d(0, 0, 0);*/
    transition: all .2s ease-in-out;
    /*transition: color 300ms ease, background-color 300ms ease, opacity 300ms ease;*/
}
#content-wrapper button:hover {
  background-image: linear-gradient(#a4b6e7 0%, #999999 100%) !important;
  color: black !important;
  /*font-weight: bolder;*/
  /*transform: scale(1.05);*/
    box-shadow: -5px -5px 5px 2px rgba(255, 255, 255, 0.2) inset, 
                5px 5px 5px 2px rgba(255, 255, 255, 0.2) inset;
}
#content-wrapper button:disabled {
    background-image: linear-gradient(#dad7d7 0%, #cec7c7 100%) !important;
    color: #eae7e7;
}

.jqx-window-content {
	overflow: hidden !important;
	border-color: transparent !important;
    background: #ddd !important;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    position: relative !important;
}
.jqx-widget-content {
	border: none;
    background: #ddd !important;
}

.jqx-menu-popup, .jqx-menu-dropdown, .jqx-menu-vertical {
    width: 140px !important;
    box-sizing: border-box !important;
    filter: drop-shadow(0 0 4px black);
    border: 1px solid gray;
}

.jqx-listbox {
    box-sizing: border-box !important;
    filter: drop-shadow(0 0 2px black);
    border: 1px solid gray;
}

.jqx-menu-popup-menuBar {
    width: 170px !important;
}
.jqx-menu-dropdown-menuBar {
    width: 170px !important;
}

input[type=checkbox] {
    margin-right: 10px;
    vertical-align: middle;
}

.left-pane {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;;
    padding: 0;
}

.left-pane .list {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.left-pane .buttons {
    flex: none;
    display: flex;
    flex-direction: row;
}

.right-pane .pane-options {
    text-align: right;
}

.right-pane .pane-optional {
    text-align: left;
}

.left-pane .buttons button {
    flex: 1
}

.right-pane {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;;
    padding: 5px;
    box-sizing: border-box;
    padding-bottom: 0;
}

.right-pane .pane-header {
    flex: none;
}

.right-pane .pane-footer {
    flex: none;
    text-align: right;
    margin-top: 7px;
}

.right-pane .pane-footer button {
    min-width: 80px;
}

.right-pane .pane-content-title {
    flex: none;
}

.underline {
    text-decoration: underline;
}

.blink {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.timeLog {
    color: #777700;
}

.right-pane .pane-content {
    flex: 1;
    overflow-y: hidden;
    overflow-x: hidden;
}
.jqx-menu-item-separator {
    border-bottom: 1px solid gray;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
  }

.preloading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    color: #901111;
}

.preloaded {
    display: none !important;
}

ul.select {
    list-style: none;
    margin:  0;
    padding: 2px;
    border: 1px solid grey;
    overflow-y: auto;
    overflow-x: hidden;
 }
 
 ul.select li {
    padding: 2px 6px;
    font-size: small;
    white-space:nowrap;
    text-overflow: ellipsis;
 }
 ul.select li:hover {
    cursor: pointer;
 }
 ul.select li.selected {
    background-color: #403f3f;
    color: white;
 }

.slideLeftRight {
    animation: slide1 1s ease-in-out infinite;
  }
  
  @keyframes slide1 {
    0%,
    100% {
      transform: translate(-10px, 0);
    }
  
    50% {
      transform: translate(10px,0);
    }
  }

@media only screen and (max-width: 805px) {
    .jqx-menu-item {
        font-size: x-small !important;
    }
    .jqx-menu ul {
        font-size: x-small;
    }
    .jqx-menu-popup, .jqx-menu-dropdown {
        width: 110px !important;
    }
}

#content-wrapper .jqx-window {
    display:flex !important;
    flex:1 !important;
    box-shadow: none !important;
    max-height: unset !important;
}

#content-wrapper .jqx-resize {
    display: flex !important;
    flex-direction: column;
    flex: 1;
}

#content-wrapper .jqx-window-header {
    background-color: transparent !important;
}

#content-wrapper .jqx-window-content {
    flex: 1 !important;
    background: transparent !important;
}

#content-wrapper .jqx-widget-content {
    background: transparent !important;
}

#content-wrapper .jqx-window-collapse-button-background {
    display: none !important;
}

#content-wrapper .jqx-window-close-button {
    display: none !important;
}

#content-wrapper .jqx-widget-header {
    background: transparent !important;
    border-color: transparent !important;
}

#content-wrapper .jqx-window-dock-button-background {
    display: block;
}

.expand {
    flex-direction: column;
    display: flex !important;
    position: relative !important;
    width: auto !important;
    height: 100%;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.toprow {
    display: flex;
    position: relative;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: column;
}

.bottomrow {
    display: flex;
    position: relative;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: column;
    min-height: 20px;
}

.midrow {
    flex: 1 1 auto;
    display: flex;
    position: relative;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.win-Mapper .jqx-menu-item-top {
    padding: 2px 4px !important;
    font-size: 10px !important;
}

.win-Mapper .bottomrow {
    border: 1px solid transparent;
    box-shadow: 0px 0px 1px 0px rgb(21 106 167 / 77%), -1px -1px 1px 0px rgb(21 106 167 / 77%) inset;
    border-radius: 2px;
}
.win-Mapper .menuBar {
    min-height: 20px;
    position: relative;
}

.win-Mapper .jqx-menu ul {
    height: 20px !important;
    padding: 0 !important;
}

.jqx-menu-item {
    padding: 2px 4px 2px 4px !important;
    margin: 1px !important;
    font-size: 11px !important;
}

#content-wrapper #win-Mapper {
    min-width: 350px !important;
    min-height: 450px !important;
}
#content-wrapper #win-Mapper .menuBar li {
    color: gray !important;
}

#content-wrapper #win-Mapper .menuBar li:hover {
    color: black !important;
}

#mapmessage {
    padding: 2px;
    font-size: 10px;
    color: black;
}
#mapcanvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  image-rendering: crisp-edges;
}

#content-wrapper #mapmessage {
    color: yellow !important;
}

#zonelist {
    width: 100%;
    height: 24px;
    display: inline-block;
    background-color: transparent;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 10px;
    outline: 0 !important;
    box-sizing: border-box;
}

#content-wrapper option {
    background: rgb(202, 202, 202);
    color: black;
}

#zonemessage {
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: black;
}

#mappertoolbar {
    position: absolute;
    width: auto;
    right: 0;
    background-color: transparent;
    top: 0;
    bottom: 0;
    padding-right: 5px;
    margin-right: 2px;
}

.maptoolbarbutton {
    width: 18px;
    height: 18px;
    padding: 2px !important;
    margin: 0 !important;
    margin-right: 2px !important;
    margin-left: 2px !important;
    font: 8pt sans-serif;
    color: black !important;
    vertical-align: middle;
    background-color:  rgb(186 186 194) !important;
}

#content-wrapper .maptoolbarbutton {
    background-color: transparent !important;
    color: lightgray !important;
    border: none !important;
}

.win-Mapper #zoom {
    font: 8pt sans-serif;
    color: black;
    margin: 2px;
    vertical-align: middle;
}

.win-Mapper #level {
    font: 8pt sans-serif;
    color: black;
    margin: 2px;
    vertical-align: middle;
}

#content-wrapper .win-Mapper #zoom {
    color: lightgray;
}

#content-wrapper .win-Mapper #level {
    color: lightgray;
}

#menuWrappermapperContextMenu {
    z-index: 5000 !important;
    font: 10pt sans-serif;
    color: black;
}

#mapperContextMenu {
    z-index: 5000 !important;
    font: 10pt sans-serif;
    color: black;
}

#electronMenu {
    margin-right: 10px;
}
#electronMenu button {
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent !important;
    font-size: 12px;
    color: lightgray !important;
    border: none !important;
    outline: none !important;
}
#electronMenu button:hover {
    background-color: transparent !important;
    color: white !important;
    border: none !important;
    outline: none !important;
}

div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }
  
  div::-webkit-scrollbar-thumb {
      background: rgb(21 106 167 / 77%);
      border-radius: 4px;
      border-color: black;
      border-style: outset;
      cursor: pointer;
   }

  div::-webkit-scrollbar-button:single-button {
    width: 8px;
    height: 8px;
    background-color: transparent;
    color: rgb(129, 174, 241);
    display: block;
    border-style: solid;
    cursor: pointer;
  }

  

  /* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent rgba(21, 106, 167, 0.77) transparent;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent rgb(58, 147, 211) transparent;
  }
  /* Down */
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 4px 4px 0 4px;
    border-color: rgba(21, 106, 167, 0.77) transparent transparent transparent;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: rgb(58, 147, 211) transparent transparent transparent;
  }

    /* left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 4px 4px 4px 0;
    border-color: transparent rgba(21, 106, 167, 0.77) transparent transparent;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    border-color: transparent rgb(58, 147, 211) transparent transparent;
  }
  /* right */    
  ::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent rgba(21, 106, 167, 0.77);
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    border-color: transparent transparent transparent rgb(58, 147, 211);
  }

  ::-webkit-resizer, ::-webkit-scrollbar-corner {
      display: none;
  }

  div {
      scrollbar-width: thin;
      scrollbar-color: rgba(21, 106, 167, 0.77) transparent;
  }

  .jqx-listbox-container {
      font-size: 10px;
  }

  .jqx-listitem-element span {
      white-space: nowrap !important;
  }

  #content-wrapper #zonelist {
    border: 0px solid transparent !important;
    border-right: 5px solid transparent !important;
    background-color: transparent;
    color: lightgray;
    height: 20px !important;
}

#innerListBoxzonelist span {
    font-size: 10px !important;
}